<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/stylelogin.css') }}">
</head>

<body>
  <header id="i0to" class="header-banner">
    <div id="ilzg" class="container-width">
      <div id="i6x9" class="logo-container">
      </div>
      <nav id="irua" class="menu">
        <div id="io4c" class="menu-item"><a href="/register/" class="enlacemenu">REGISTRO</a></div>
        <div id="ijvr" class="menu-item"><a href="/login/" class="enlacemenu">LOGIN</a></div>
        <div id="id3x61" class="menu-item"><a href="/catalogoproductos/" class="enlacemenu">PRODUCTOS</a></div>
        <div id="izwqp" class="menu-item"><a href="/" class="enlacemenu">INICIO</a></div>
      </nav>
      <div class="clearfix">
      </div>
      <div id="i8ubr4" class="row">
        <div id="iouamm" class="cell">
        </div>
        <div id="ijlaii" class="cell">
          <div id="itxtj">EL USUARIO NO EXISTE</div>
        </div>
        <div id="ilg8up" class="cell">
        </div>
      </div>
      <div class="row" id="ioirl">
        <div class="cell">
          <div id="" class="submenu-item"></div>
        </div>
        <div class="cell" ><img class="roundimg" src="{{ url_for ('static', filename='images/crear.png') }}" />
          <div id="" class="submenu-item"><a href="/register/" id="" class="enlacemenu">Crear Usuario</a></div>
        </div>
        <div class="cell">
          <div id="" class="submenu-item"></div>
        </div>
      </div>
    </div>
  </header>
  <footer id="i8jraq" class="footer-under">
    <div id="ildh7x" class="blk-desc">© Levi Strauss Co. | Todos los Derechos Reservados 
    </div>
    <div class="container-width">
    </div>
  </footer>
</body>
<html>